﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
      body {
        padding-top: 60px; 
      }
    </style>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Paging Sample For Asp.net MVC 4</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
             @if(IsSectionDefined("nav")){
             
             @RenderSection("nav")
             }
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
       
      @RenderBody()
      <hr />
      <footer>
      <p><a href="https://bitbucket.org/Imran_/imran.pager"><i class="icon-align-left icon-align-left"></i>Source Code</a> Under <a href="http://en.wikipedia.org/wiki/GNU_Lesser_General_Public_License">LGPL</a> </p>
      <p><a href="http://twitter.com/imran_"><i class="icon-align-left icon-chevron-right"></i>Tiwtter</a> &nbsp;&nbsp;<a href="http://facebook.com/imran.04"><i class="icon-align-left icon-chevron-right"></i>Facebook</a> </p>
        <p> © CTZIT @DateTime.UtcNow.Year</p>
        
      </footer>
    </div>
   
</body>
</html>
