﻿@{
    ViewBag.Title = "About";
}
@section nav{
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/Home/About">About</a></li>

}
<div class="row">
<h2>About Pager</h2>
<div class="span6">
<h3>Features</h3>
<ul>
<li>No need to declare parameter Page in action</li>
<li>No need to calculate how much records needed to skip.</li>
<li>Has a build in html hepler for paging.</li>
<li>Uses Twitter bootstrap.</li>
<li>
No Need for this.<br />
<code>
   
        using System.Web.Mvc;
        <br />
        .....<br />
        public class BarController:Controller{
        <br />
        .......<br />
        public ActionResult Foo(){<br />
        if(Request.IsAjaxRequest())<br />
        return PartialView();<br />
        return View();<br />
        }<br />
        }<br />
   
</code>
Just Use<br />
<code>
   
        using System.Web.Mvc;
        <br />
        using Imran.Pager.Mvc;<br />
        .....<br />
        public class BarController: Imran.Pager.Mvc.Controller{
        <br />
        .......<br />
        public ActionResult Foo(){<br />
        return AdaptiveView();<br />
        }<br />
        }<br />
   
</code>
</li>
</ul>
</div>
<div class="span6">
<h3>Usage</h3>
<h4>Controller</h4><br />
<code>
public class FooController : Imran.Pager.Mvc.Controller<br />
    {<br />     
       SomeContext db= new SomeContext();  <br />
       <br />
        public ActionResult Index()<br />
        {<br />            
            return View(db.Persons.OrderBy(i=>i.Birthday)<br />.Skip(Skip)<br />.Take(Size))<br />.Page(Page, Size, db.Persons.Count, 5);<br />
        }<br />
   } <br />
</code>
<h4>View (Razor Engine)</h4><br />
<code>
@@model IEnumerable&lt;Person&gt;<br />
@@using Imran.Pager.HtmlHelpers<br />
<br />
&lt;table class="table table-condensed"&gt;<br />
    &lt;tr&gt;<br />
        &lt;th&gt;<br />
            First<br />
       &lt;/th&gt;<br />
       .....<br />
   &lt;/tr&gt;<br />
   <br />
@@foreach (var item in Model) {<br />
     &lt;tr&gt;<br />
        &lt;td&gt;<br />
            @@Html.DisplayFor(modelItem => item.First)<br />
        &lt;/td&gt;<br />
           .....<br />
        
   &lt;/tr&gt;<br />
}<br />

&lt;/table&gt;<br />
@@Html.Pager()<br />
</code>
</div>
</div>