﻿@model IEnumerable<FakeDataProvider.Person>
@using Imran.Pager.HtmlHelpers
@{
    ViewBag.Title = "Index";
}

@section nav{
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/Home/About">About</a></li>

}

<p>
  A sample paging. Has a build in tiwtter bootstrap style pager helper.  
</p>
<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.First)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
       
    </tr>
}

</table>
@Html.Pager()